// Variáveis //
$branco: #FFF;
$azul: #01CAFF;
$verde: #00CD68;
$vermelho: #EF4136;
$amarelo: #FFD200;
$preto-claro: #4D4D4D;
$cinza-bg: #F1F2F4;
$cinza-font: #999999;
$cinza-claro: #A8A8A8;
$cinza-escuro: #555555;
$azul-marinho: #324158;